:root{
    --main-font: "IBMPlexMono-Regular", Arial, sans-serif;
    --accent-font: "IBMPlexMono-Bold", Arial, monospace;
    --bg-color: #000028;
    --text-color: #F1B2CE;
    --accent-color: #000028;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.page{
    min-inline-size: 360px;
    margin: 0;
    color: var(--text-color);
    font-family: var(--main-font);
    background-color: var(--bg-color);
    display: grid;
    gap: 10vi;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure{
    margin: 0;
}

.heading{
    --text-color: #FF0070;
    font-family: var(--accent-font);
    color: var(--text-color);
    line-height: 0.9;
    text-align:start;
}

.header{
    background-image: url('/images/1024x768-dark.png');
    display: grid;
    position: relative;
    padding-top: 3vi;
    padding-bottom: 3vi;
}

.header::before {
    --text-color: #FF0070;
    color: var(--text-color);
    content: '';
    position: absolute;
    top: 3vi;
    right: 3vi;
    width: 25px;
    height: 25px;
    border-top: 1px solid currentColor;
    border-right: 1px solid currentColor;
}


.header::after {
    --text-color: #FF0070;
    color: var(--text-color);
    content: '';
    position: absolute;
    right: 0;
    bottom: 3vi;
    left: 3vi;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
}

.header-rec-block{
    padding: 0 3vi;
}

.header-rec{
    --text-color: #FF0070;
    color: var(--text-color);
    position: relative;
    padding-right: 36px;
    justify-self:end;
    font-size: 18px;
}
.header-rec::after {
    content: '';
    position: absolute;
    right: 13%;
    top: 40%;
    width: 10px;
    height: 10px;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px currentColor;
}

.header-title-block{
    padding: 0 3vi 10vi 3vi;
}

.header-title{
    --text-color: #DB00FF;
    color: var(--text-color);
    margin-block-start: 10%;
    margin-block-end: 50px;
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
    text-shadow: 5px 5px 0px #FF0070;
}

.header-menu{
    padding-right: 3vi;
    justify-self:end;
}

.header-theme-toggler{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10vi;
}

.header-theme-button{
    --text-color: #FF0070;
    color: var(--text-color);
    background: transparent;
    border: none;
    padding: 0 10px;
    margin: 0;
    outline: none;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 18px;
}

.header-theme-button:focus {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.header-theme-button:hover {
    border: 1px solid #F1B2CE;
}

.header-theme-button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transform: translateX(-50%);
}

.header-theme-button:hover::after{
    width: 100%;
}

.content-section{
    display: grid;
    gap: 11vi;
    padding: 0 3vi 9vi 3vi;
}

.section-block {
      display: grid;
    gap: 5vi;
}

.content-title{
    font-size: 18px;
    
}

.content-block{
    display: grid;
    gap: 3vi;
}

.content-subtitle{
    --text-color: #000028;
    --bg-color: #FF0070;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-size: 18px;
}

.subtitle-strong{
    font-family: var(--accent-font);
    font-size: 18px;
}
